<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h1><%= title %></h1>
            <h2>Welcome to <%= title %></h2>
            <h3 style="color:Blue">Hi, My name is Jaskiran Kaur..<br>You can see the list of my books on this website</h3>
        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>


